<app-layout>
  <app-sidenav [open]="showSidenav$ | async">
    <app-nav-item (navigate)="closeSidenav()" *ngIf="loggedIn$ | async" routerLink="/" icon="book" hint="View your book collection">
      My Collection
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav()" *ngIf="loggedIn$ | async" routerLink="/books/find" icon="search" hint="Find your next book!">
      Browse Books
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav()" *ngIf="!(loggedIn$ | async)">
      Sign In
    </app-nav-item>
    <app-nav-item (navigate)="logout()" *ngIf="loggedIn$ | async">
      Sign Out
    </app-nav-item>
  </app-sidenav>
  <app-toolbar (openMenu)="openSidenav()">
    Book Collection
  </app-toolbar>

  <router-outlet></router-outlet>
</app-layout>
